* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro',Optima,Segoe,'Segoe UI',Candara,Calibri,Arial,sans-serif;
    text-align: center;
    color: rgb(24, 32, 40);
    background: rgb(246, 250, 251);
}
section {
    text-align: center;
}
section.main-section {
    text-align: center;
}
section.main-section .short-bio {
    margin: 120px 0 0 0;
}
section.main-section img {
    width: 200px;
    border-radius: 400px;
    border: 6px solid white;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}
section.main-section h1 {
    font-size: 4em;
    font-weight: 900;
    opacity: 0.7;
    margin: 0;
    padding: 0 5px;
}
section.main-section h5 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    padding: 0 5px;
}
section.main-section p {
    font-size: 1.2em;
    margin: 90px 0 35px;
    max-width: 350px;
    width: 100%;
    text-align: left;
    display: inline-block;
    font-family: 'Source Serif Pro',Georgia,Times,'Times New Roman',serif;
    padding: 0 15px;
    vertical-align: top;
}
section.links, footer {
    background: rgb(24, 32, 40);
    color: white;
    text-align: center;
    padding: 90px 5px 20px;
}
footer {
    font-size: 0.9em;
}
section.links {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
section.links a {
    color: white;
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    margin: 12px 20px;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: border 0.5s;
}
section.links a:hover {
    border-bottom: 3px solid white;
}
section.newsletter {
    margin: 100px 0;
}
.newsletter-text {
    display: inline-block;
    width: 100%;
    max-width: 488px;
    text-align: left;
    vertical-align: top;
    padding: 25px;
}
.newsletter-signup-box {
    width: 312px;
    height: 280px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.newsletter-signup-box a {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: rgb(24, 32, 40);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 110px;
    transition: border 0.5s;
    font-size: 2.2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: opacity 0.3s;
}
.newsletter-signup-link-text {
    padding: 6px;
    border-bottom: 8px solid white;
}
.newsletter-signup-form {
    border: 5px solid rgb(24, 32, 40);
    height: 100%;
}
footer .years {
    color: rgba(255,255,255,0.6);
}
footer .years .current-year {
    color: white;
}
.blog-link-in-column {
    font-family: 'Source Sans Pro',Optima,Segoe,'Segoe UI',Candara,Calibri,Arial,sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    background: rgb(24, 32, 40);
    text-transform: uppercase;
    width: 100%;
    padding: 35px 5px 39px;
    text-align: center;
    margin-bottom: 10px;
}
.blog-link-in-column-link-text {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding: 3px;
    transition: border 0.5s;
}
.blog-link-in-column:hover .blog-link-in-column-link-text {
    border-bottom: 3px solid white;
    border-top: 3px solid transparent;
}
